extends layout

block content
    app-root
    script(src='/angular/inline.bundle.js')
    script(src='/angular/polyfills.bundle.js')
    script(src='/angular/styles.bundle.js')
    script(src='/angular/vendor.bundle.js')
    script(src='/angular/main.bundle.js')