doctype html
html(ng-app)
    head
        link(rel="shortcut icon" href="/favicon.png" type="image/png")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href='/') EXP
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a(href='/exchange/') Exchange
                        li
                            a(href='/templates/') Templates
                        li
                            a(href='/sign_in/') Sign In


        .container
            block content

            footer
                .row
                    .col-xs-12
                        //small &copy; Exp 2018

        script(src='/javascripts/jquery-1.11.1.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')